<h1>Página sobre</h1>

<p>Para preencher um Vazio <br>
Inserir a Coisa que o causou - <br>
Tenta bloqueá-lo <br>
com outra – e mais vai se escancarar - <br>
Não se pode soldar um Abismo <br>
Com Ar</p>