{{#section 'styles'}}
<link rel="stylesheet" href="css/contact.css">
{{/section}}    

<div id="container">
    <h1>Contato</h1>
<form action="saveContact" method="post">
    <input type="text" name="nome" placeholder="Nome">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="senha" placeholder="Senha">
    <input type="submit" value="Cadastrar">
</form>
</div>