

<div id="container">
    <h1>Contato</h1>
<form action="cadastro" method="post">
    <input type="text" name="nome" placeholder="Nome">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="phone" placeholder="Senha">
    <input type="submit" value="Cadastrar">
</form>
</div>