body{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 250px;
}

.container{
    display: flex;
    align-items: center;
    width: 80%;
    gap: 5px;
}

.alinhar-em-coluna{
    flex-direction: column;

}

.alinhar-texto-centro{
    text-align: center;
}

.title{
    font-size: 40px;
    text-align: center;
    user-select: none;
    color: var(--primary-color);
}

:root {
    --primary-color :#146520;
}

.row{
    display: grid;
    gap: 10px;
}


